/*
 * Table of Contents
 * 1. Global Variables
 * 2. Icomoon Icons
 * 3. General Styles
 * 4. article
 */


/*
 * 1 Global Variables
 */
:root {
  --gray: hsl(212, 23%, 69%);
  --dark-gray: hsl(217, 19%, 35%);
  --light-gray: hsl(210, 46%, 95%);
  --dark-blue: hsl(214, 17%, 51%);

  --baseline: 4; /*px*/
  --b1:  calc(var(--baseline) * 1px);
  --b2:  calc(var(--baseline) * 2px);
  --b3:  calc(var(--baseline) * 3px);
  --b4:  calc(var(--baseline) * 4px);
  --b5:  calc(var(--baseline) * 5px);
  --b6:  calc(var(--baseline) * 6px);
  --b7:  calc(var(--baseline) * 7px);
  --b8:  calc(var(--baseline) * 8px);
  --b9:  calc(var(--baseline) * 9px);
  --b10: calc(var(--baseline) * 10px);
  --b13: calc(var(--baseline) * 10px);

  --font-size: 13px;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-family: 'Manrope', sans-serif;
  --font-color: var(--dark-blue);
  --line-height: var(--b5);

  --image-length: 42px;

  --component-min-width-mobile: 375px;
  --component-min-width-desktop: calc(var(--baseline) * 190px);
}


/*
 * 2 Icomoon Icons
 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3u8ig4');
  src:  url('../fonts/icomoon.eot?3u8ig4#iefix')
        format('embedded-opentype'),
        url('../fonts/icomoon.ttf?3u8ig4') format('truetype'),
        url('../fonts/icomoon.woff?3u8ig4') format('woff'),
        url('../fonts/icomoon.svg?3u8ig4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  width: var(--b7);
  height: var(--b7);
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}


.icon-invert {
  background-color: var(--dark-blue);
  color: white;
}

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest-p:before {
  content: "\f231";
}


/*
 * 3 General Styles
 */
:root {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--b5);
  letter-spacing: 1px;
}


.content {
  padding: var(--b6) var(--b4);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}


.responsive-img {
  max-width: 100%;
  display: block;
  height: auto;
}


.mx-7 {
  padding-left: var(--b7);
  padding-right: var(--b7);
}


.ml-auto {
  margin-left: auto!important;
}


@media (min-width: 768px) {
  .display-lg-none {
    display: none;
  }
}


.align-self-center {
  align-self: center;
}


/*
 * 4 article
 */
.article {
  max-width: var(--component-min-width-mobile);
  background-color: white;
  color: var(--font-color);
  border-radius: 8px;
  overflow: hidden;
}


@media (min-width: 768px) {
  .article {
    max-width: var(--component-min-width-desktop);
    display: flex;
  }
}


@media (min-width: 768px) {
  .image-wrapper {
    flex: 1 1 85%;
  }
}


.article__image {
  /*max-height: 190px;*/
  overflow: hidden;
  background-size: cover;
  padding-top: 66.66%;
  width: 100%;
}


@media (min-width: 768px) {
  .article__image {
    padding-top: 0;
    height: 100%;
  }
}


.article__headline {
  padding-top: var(--b9);
  margin-bottom: var(--b4);
  color: var(--dark-gray);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
}


.article__abstract {
  padding-bottom: var(--b4);
}


.article__footer {
  position: relative;
}


.footer-subsection {
  display: flex;
  position: relative;
  padding-top: var(--b4);
  padding-bottom: var(--b4);
  height: var(--b13);
}


.author-subsection {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}


.author {
  display: flex;
  align-items: flex-start;
}


.author__image {
  width: var(--image-length);
  height: var(--image-length);
  border-radius: 50%;
}


.author__name {
  margin-left: var(--b4);
  color: var(--dark-gray);
  font-weight: var(--font-weight-bold);
}


.publishing-date {
  position: absolute;
  top: calc( var(--b4)
           + var(--line-height)
           );
  left: calc( var(--b7)
            + var(--image-length)
            + var(--b4)
            );
}


.share-bubble {
  /*
  top: 0;
  left: 0;
  right: 0;
  */
  position: absolute;
  display: flex;
}


.share-bubble__inner {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  height: 0;
  width: 0;
}


@media (min-width: 768px) {
  .share-bubble__inner {
    width: initial;
    height: initial;
  }
}


.share-bubble__content {
  display: flex;
  align-items: center;
  background-color: var(--dark-gray);
  box-sizing: border-box;
}


@media (min-width: 768px) {
  .share-bubble__content {
    max-width: 250px;
    height: unset;
    padding-top: var(--b2);
    padding-bottom: var(--b2);
    border-radius: 6px;
  }
}


.share-label {
  letter-spacing: var(--b1);
  text-transform: uppercase;
  margin-right: var(--b2);
  color: var(--gray);
}


.share-icon {
  margin-left: var(--b2);
}


@media (min-width: 768px) {
  .share-bubble__arrow {
    display: block;
  }


  .share-bubble__arrow,
  .share-bubble__arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }
  
  .share-bubble__arrow::before {
    content: '';
    transform: rotate(45deg);
    background-color: var(--dark-gray);
  }

  .share-bubble[data-popper-placement^='top'] > .share-bubble__arrow {
    bottom: -4px;
  }
  
  .share-bubble[data-popper-placement^='bottom'] > .share-bubble__arrow {
    top: -4px;
  }
  
  .share-bubble[data-popper-placement^='left'] > .share-bubble__arrow {
    right: -4px;
  }
  
  .share-bubble[data-popper-placement^='right'] > .share-bubble__arrow {
    left: -4px;
  }
}
